<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>BigCommerce Conversion Rate App</title>
</head>

<body>
  <div class="app_header">
    <div class="app_logo"></div>
    <div class="app_title">
      <h1>BigCommerce Currency Exchange Rate App</h1>
      <span class="app_author">by Jordan Arldt</span>
    </div>
  </div>

  <hr size="5" width="200" align="left" style="margin-bottom: 0px;" />
  <div class="appcontainer">
    <div class="container">
      {{{ body }}}
    </div>
  </div>
</body>

</html>