<p>This application implements the BigCommerce API to display the currency exchange rate on the storefront.<br>
  This app uses Express-Handlebars and Node.js.
</p>
<p>
  If you are seeing this page, the app was not installed properly.
</p>